@import './variables-local.scss';
@import './colors.scss';

.heading {
  font-family: Asap, Open Sans, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: calc(15px / 2);
}

.sub-heading {
  font-family: Asap, Open Sans, Helvetica, Arial, sans-serif;
  display: block;
  color: $colorSecondary;
  font-size: 15px;
  margin-bottom: calc(15px / 2);
  padding: 0 1px;
}
